.previewStep {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 0.5rem;
}

.purchases {
  padding: 1.2rem;
  background-color: var(--blue-50);
  display: flex;
  border-radius: 7px;
  flex-direction: column;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planTitle,
.planPrice {
  color: var(--blue-grey-900);
  font-weight: bold;
}

.changeStepButton {
  all: unset;
  color: var(--grey-500);
  cursor: pointer;
  text-decoration: underline;
}

.divider {
  height: 1px;
  margin-top: 1rem;
  background: var(--grey-400);
  width: 100%;
}

.addOn {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.addOnTitle {
  color: var(--grey-500);
}

.addOnPrice {
  color: var(--blue-grey-900);
}

.invoice {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
}

.totalPriceLabel {
  color: var(--grey-500);
}

.totalPrice {
  color: var(--blue-800);
  font-weight: bold;
}
