.planTypeToggle {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background: var(--blue-50);
  padding: 1rem;
  border-radius: 7px;
}

.togglebutton {
  all: unset;
  cursor: pointer;
  color: var(--grey-400);
}

.togglebutton.active {
  color: var(--blue-grey-900);
}

@media (min-width: 992px) {
  .planTypeToggle {
    margin-top: 2rem;
  }
}
