:root {
  --blue-grey-50: #f8f9fe;
  --blue-grey-900: #031d4a;

  --grey-400: #b1b1b7;
  --grey-500: #8e909c;
  --blue-50: #ecf3fd;
  --blue-800: #474292;

  --white: #fff;

  --indigo-400: #453cff;
  --indigo-600: #483eff;

  --rose-400: #d33a4e;
}
