.stepIndicators {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  height: 11rem;
  background-image: url(/src/assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stepInfo {
  display: none;
}

.stepNumber {
  border: 1px solid var(--white);
  border-radius: 100px;
  width: 35px;
  height: 35px;
  display: flex;
  transition: background-color ease 0.5s;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
}

.activeStepNumber {
  background: var(--white);
  color: var(--blue-grey-900);
}

.stepIndicators > ul {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.5rem;
}

@media (min-width: 992px) {
  .stepIndicators {
    position: relative;
    width: 15rem;
    height: 100%;
    margin: unset;
    background-image: url(/src/assets/images/bg-sidebar-desktop.svg);
    grid-area: 1 / 1 / 6 / 2;
  }

  .stepIndicators > ul {
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }

  .indicator {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding-left: 1.4rem;
  }

  .stepInfo {
    display: flex;
    flex-direction: column;
  }

  .label,
  .title {
    color: var(--white);
  }

  .label {
    color: var(--grey-400);
  }

  .title {
    font-weight: bold;
  }
}
